#edit-profile {
  .col-md-6 {
    .input-group {
      margin-bottom: 20px;
    }
  }

}

#profile {
  background-image: linear-gradient(to bottom, #36aded, #2183e3);
  background-color: #36aded;
  padding: 15px 0;
  color: white;
  img {
    width: 83%;
     height: 230px;
  }
  table {
    font-size: 18px;
    tbody {
      tr:first-child {
        th:first-child {
          width: 68%;
          padding-bottom: 15px;
        }
        th:last-child {
          padding-bottom: 16px;
         
        }
      }
      tr:nth-child(3) {
        th {
          padding: 15px 0;
        }
      }
      tr:last-child {
        th:last-child {
          padding: 15px 0;
        }
        td {
          padding-top: 15px;
          button {
            width: 110px;
          }
        }
      }
    }
  }
  ul#profile-status {
    padding-left: 0;
    margin-top: 10px;
    li {
      list-style: none;
      display: inline-table;
      a{
        font-size: 18px;
        color: white;
        &:hover{
          text-decoration: none;
        }
      }
      &:nth-child(2) {
        margin-left: 12px;
      }
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}
div#content {
padding-top: 30px;
background: #F6F7F5;
div.col-md-9 {
  div#sidebar-main {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    background-color: rgba(180,180,180,0.05);
    h3 {
      margin-top: 0;
    }
    //style Follow
    div#list-friend {
      padding: 25px;
      table {
        text-align: center;
        tr:first-child {
            th {
              text-align: center;
            }
            th:first-child {
              width: 20%;
            }
            th:nth-child(3) {
              width: 24%;
            }
        }
        tr {
          td:last-child {
            text-align: left;
            padding-left: 10px;
          }
        }
      }
      div#user-box {
        padding: 10px;
        a {
          &:first-child {
            width: 44%;
            float: left;
            img {
              width: 80%;
            }
          }
          &:last-child {
            width: 56%;
            float: left;
            text-decoration: none;
            span {
              float: left;
              width: 100%;
            }
            button {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}
}